---
layout: page
---

<div class="whats-new">
  <div id="fb-root"></div>
  <h2>{{site.data.whats-new.title[page.lang]}}</h2>
  <div class="youtube">
    <iframe width="600" height="340" src="http://www.youtube.com/embed?controls=1&showinfo=1&rel=0&listType=playlist&list={{site.youtube}}" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="facebook">
    <div class="fb-page" data-href="{{site.facebook}}" data-tabs="timeline" data-width="500" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/teamAmandaWildeman/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/teamAmandaWildeman/">Amanda Wildeman for Fredericton - York</a></blockquote></div>
  </div>
  <div class="clear"></div>
</div>
