<!-- Footer -->
<footer>
  <div class="wrapper">
    <a href="https://www.greenparty.ca/en" target="_blank"><img class="logo" src="/img/Logo_White_Small.png" alt="Green Party" /></a>
    <ul class="contact">
      <li><a href="mailto:{{site.email}}" target="_blank"><i class="fa fa-envelope"></i><span class="screenreader">Email</span></a></li>
      <li><a href="{{site.facebook}}" target="_blank"><i class="fa fa-facebook"></i><span class="screenreader">Facebook</span></a></li>
      <li><a href="{{site.youtube}}" target="_blank"><i class="fa fa-youtube-play"></i><span class="screenreader">YouTube</span></a></li>
    </ul>
    <span class="copy">&copy; 2018 Amanda Wildeman</span>
  </div>
</footer>
